/*  */

* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  font-size: 2rem;
}

/* **************************** */
/* HEADER*/
/* **************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  margin: 0;
}
.logo {
  height: 2.4rem;
}

/* **************************** */
/* NAVIGATION */
/* **************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}
/* **************************** */
/* HERO SECTION */
/* **************************** */
.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem;
}
.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #b8651b;
  font-weight: 700;
}

/* **************************** */
/* HOW IT WORKS SECTION */
/* **************************** */
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-img {
  width: 35%;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  padding-bottom: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
